.navbar {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    padding: 15px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 30px;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 14px 16px;
}

.navbar a:hover {
    background-color: #030697;
    color: white;
}

.login-container {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.login-container label, 
.login-container input {
    margin-right: 10px;
}

.login-container input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container button {
    background-color: #4caf50;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #45a049;
}